scope=xaduan
@xaduan:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=1cd55490-d6c9-4304-85fc-be8ad79239be

@gss-bi-fe:registry=https://packages.glodon.com/artifactory/api/npm/npm-gss-bi-releases/
//packages.glodon.com/artifactory/api/npm/npm-gss-bi-releases/:_password=QVBCUEdTRmQxSER4U2RKTGticHZxdjdEUVli
//packages.glodon.com/artifactory/api/npm/npm-gss-bi-releases/:username=wangsp-b
//packages.glodon.com/artifactory/api/npm/npm-gss-bi-releases/:email=wangsp-b@glodon.com
//packages.glodon.com/artifactory/api/npm/npm-gss-bi-releases/:always-auth=true